/* Global Variables */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation bar */

nav {
    align-items: center;
    background-color: #56ccc8;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    min-height: 10vh;
}

.logo {
    color: #FFFAFA;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.nav-li {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-li li {
    list-style: none;
}

.nav-li a {
    color: #FFFAFA;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
}

.active {
    border-bottom: solid white;
}