.content {
    align-items: center;
    background: url(../images/pets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;   
}

h2 {
    color: pink; 
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    padding: 15px;
    text-align: center;
    
}

.images img {
    border: solid 7px pink;
}
